/* Overall layout*/
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #EDE8D0
}

.container {
  display: flex;
  height: 100vh;
  
}

/* Left side: form  */
.form-container {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 30px;
  border-radius: 10px 0px 0px 10px;
  
}


.form-container h2 {
  font-size: 2rem;
  color: #222;
  margin-bottom: 10px;
}

.form-container p {
  color: #666;
  margin-bottom: 30px;
}

/* Input fields */
label {
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
  display: block;
}

input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #4CAF50;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}


/* Sign Up Button*/
.btn-primary {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 12px 0;
  border: 1px;
  border-radius: 8px;
  cursor: pointer;
  width: 93%;
  margin: 10px 10px 0px 10px;
}

.btn-primary:hover {
  background-color: #45a049;
}

/* Login link styled as button ===== */
.login-link {
  text-align: center;
  margin-top: 20px;
}

/* Right side: image */
.image-container {
  margin: 30px 30px 30px 0px;
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../images/food.jpg') no-repeat center center/cover;
  position: relative;
  border-radius: 0px 10px 10px 0px;

}

/* log in button */
.login-btn {
  font-weight: bold;
  margin: 10px;
  background-color: #548687;
  color: #ffffc7;
  padding: 12px 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

/*  Responsive */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .image-container {
    height: 250px;
  }
}
